<nav>
  <i class="nav-toggler"></i>
  <ul>
    <%
      for (let menuItem of menu) {
        const itemText = menuItem.text;
        const itemPath = menuItem.path;
        const itemClassName = (page.url === itemPath) ? 'active' : '';
    %>
        <li class="<%- itemClassName -%>">
          <a href="<%- itemPath -%>"><%- itemText -%></a>
        </li>
    <% } %>
  </ul>

  <a href="/" class="brand">
    <span class="logo">J</span>
    <strong>John</strong>
    Doe
  </a>
</nav>
