.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  transition: all 0.2s ease-in-out;

  &.modal--open {
    visibility: visible;
    opacity: 1;
  }

  // Modal Overlay
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: (rgba(#333, 0.9));
  }

  .modal-content {
    width: 600px;
    max-width: 95vw;
    max-height: 95vh;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: var(--bg-color);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem 5rem 3rem;
    border-radius: 0.4rem;

    .modal-close {
      display: inline-block;
      width: 1em;
      position: absolute;
      top: 3rem;
      right: 2rem;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
