$gutter-width: 1.5rem;

.row {
  position: relative;
  margin: 0 (0 - $gutter-width / 2);
  box-sizing: border-box;

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  .col {
    box-sizing: border-box;
    padding: $gutter-width / 2;

    @include desktop {
      width: 50%;
      float: left;
    }
  }
}
