---
page:
  title: Contact
  headerTitle: Get in touch
  headerSubtitle: I'm available for work!
---

<div class="row">
  <div class="col contact-image-container">
    <img src="/images/contact.jpg" alt="Contact me" />
  </div>
  <div class="col">
    <form class="form">
      <div class="form-field">
        <input type="text" name="name" class="string" placeholder="Name" required />
        <label>Name</label>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-field">
            <input type="email" name="name" class="string" placeholder="Email" required />
            <label>Email</label>
          </div>
        </div>
        <div class="col">
          <div class="form-field">
            <input type="tel" name="name" class="string" placeholder="Phone" required />
            <label>Phone</label>
          </div>
        </div>
      </div>
      <div class="form-field">
        <textarea name="message" placeholder="Message" required></textarea>
        <label>Message</label>
      </div>
      <input type="submit" value="Send Message" class="btn btn-sm btn-block" />
    </form>

    <div class="social-icons">
      <a href="" target="_blank"><i class="fab fa-github-square"></i></a>
      <a href="" target="_blank"><i class="fab fa-stack-overflow"></i></a>
      <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a href="" target="_blank"><i class="fab fa-instagram-square"></i></a>
      <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
    </div>
  </div>
</div>


